registry=https://registry.npmmirror.com/
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{ version }}
ffmpeg_static_binary_location=https://npmmirror.com/mirrors/ffmpeg-static/
